<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Twitter Sentiment - Keywords</title>
		<style>
			.container {
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;
				align-items: flex-start;
				align-content: space-around;
			}
			.item {
				flex: 0 1 auto;
				align-self: flex-start;
				text-align: center;
			}
			.title {
				width: 95vw;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="item title">
				<h2>Available graphs for keywords</h3>
			</div>
			<div class="item">
				<h4>Exponential moving average</h4>
				{% for keyword in keywords %}
				<a href="/svg/{{ keyword }}/ema">{{ keyword }}</a><br>
				{% endfor %}
			</div>
			<div class="item">
				<h4>Moving average</h4>
				{% for keyword in keywords %}
				<a href="/svg/{{ keyword }}/ma">{{ keyword }}</a><br>
				{% endfor %}
			</div>
		</div>
	</body>	
</html>
